* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.app-name {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.app-content {
  background: url(./components/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1300px;
}
.app-content .left-content .product-pic img {
  background: url(./components/img/g1.jpg);
  height: 450px;
  width: 450px;
}
.app-content .left-content .product-detail {
  background-color: #EDD6B4;
}